<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosnip"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Trial"></activity>
        <!-- <activity android:name="chat_show"></activity> -->
        <activity
            android:name=".Chatlog"
            android:theme="@style/NoActionBar" />
        <activity android:name=".collegeInfo" />
        <activity android:name=".Login_logout" />
        <activity
            android:name=".Edit_profile"
            android:parentActivityName=".Dashboard" />
        <activity android:name=".collegeProfile" />
        <activity android:name=".otherProfile" />
        <activity
            android:name=".getInterest"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".makeProfile"
            android:label="Make Your Profile" />
        <activity
            android:name=".Login"
            android:icon="@drawable/logonew"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".register"
            android:label="Register">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="college-hunt-aab15.firebaseapp.com"
                    android:scheme="https" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard" />
        <activity android:name=".Fragments.Chats" />
        <activity
            android:name=".Landing"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>